@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes go-up {
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
@keyframes ellipse-transition-top {
  0% {
    transform: translateX(-112px) translateY(-112px);
    width: 480px;
    height: 480px;
  }
  100% {
    transform: translateX(5%) translateY(5%);
    width: 1800px;
    height: 1800px;
  }
}
@keyframes ellipse-transition-bottom {
  0% {
    transform: translateX(-112px) translateY(-112px);
    width: 480px;
    height: 480px;
  }
  100% {
    transform: translateX(-5%) translateY(-5%);
    width: 1800px;
    height: 1800px;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
body {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.welcome {
  z-index: 100;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: orange;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.welcome__video {
  position: absolute;
  opacity: 0.2;
}
.welcome__logo {
  width: 200px;
  z-index: 1;
}
.welcome__image {
  width: 100%;
  animation: 0.8s infinite beatHeart;
}
.welcome__description {
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1024px) {
  .welcome__description {
    flex-basis: 40%;
  }
}
.welcome__text {
  z-index: 2;
  flex-basis: 90%;
  text-align: center;
  font-size: 1.4rem;
}
@media (min-width: 1024px) {
  .welcome__text {
    flex-basis: 50%;
  }
}
.welcome__button {
  font-family: "Roboto", sans-serif;
}
.welcome__par {
  text-align: center;
  padding: 10px;
}
.welcome__button {
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  letter-spacing: 2px;
}
.welcome__button span {
  position: absolute;
  display: block;
}
.welcome__button:hover {
  cursor: pointer;
  color: #000000;
}
.welcome__span1 {
  opacity: 0.7;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, black);
  animation: animate1 2s linear infinite;
}
.welcome__span2 {
  opacity: 0.7;
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, black);
  animation: animate2 2s linear infinite;
  animation-delay: 0.5s;
}
.welcome__span3 {
  opacity: 0.7;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, black);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}
.welcome__span4 {
  opacity: 0.7;
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, black);
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
}

.slider {
  flex-basis: 100%;
  display: flex;
  align-items: flex-end;
}
.slider__image {
  width: 100%;
  transition: 0.2s;
}
.slider__image:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.description {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 20px;
  font-size: 1.2rem;
}
@media (min-width: 1024px) {
  .description {
    padding-top: 20px;
  }
}
.description__about {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-bottom: 70px;
}
@media (min-width: 1024px) {
  .description__about {
    flex-basis: 50%;
    margin-bottom: 0px;
  }
}
.description__heading {
  flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "Bungee", cursive;
}
@media (min-width: 1024px) {
  .description__heading {
    font-size: 2.4rem;
  }
}
.description__location {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px;
  background-color: orange;
}
@media (min-width: 1024px) {
  .description__location {
    flex-basis: 40%;
  }
}
@media (min-width: 1440px) {
  .description__location {
    flex-basis: 30%;
  }
}
.description__location-heading {
  flex-basis: 100%;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-family: "Bungee", cursive;
}
@media (min-width: 768px) {
  .description__location-heading {
    font-size: 1.9rem;
  }
}
@media (min-width: 1024px) {
  .description__location-heading {
    font-size: 2.4rem;
  }
}
.description__item-container {
  padding-left: 20px;
  flex-basis: 100%;
  font-size: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .description__item-container {
    padding-left: 60px;
    font-size: 1.5rem;
  }
}
.description__item {
  flex-basis: 100%;
}
.description__item--show:hover {
  cursor: pointer;
}
.description__main-text {
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .description__main-text {
    font-size: 1.3rem;
  }
}

.ofert {
  margin-top: 100px;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.ofert__item {
  flex-basis: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 0 0 3px 0 #000;
}
@media (min-width: 1024px) {
  .ofert__item {
    flex-basis: 30%;
  }
}
.ofert__item:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 0 #000;
}
.ofert__text {
  font-family: "Bungee", cursive;
  color: white;
  text-shadow: -1px 0 orange, 0 2px orange, 2px 0 orange, 0 -1px orange;
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .ofert__text {
    font-size: 2rem;
  }
}
.ofert__container {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-self: center;
  justify-content: left;
  margin-left: 20px;
  margin-right: 20px;
}
.ofert__container--2 {
  justify-content: right;
}
.ofert__heading {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bungee", cursive;
}
@media (min-width: 1024px) {
  .ofert__heading {
    font-size: 2.4rem;
  }
}
.ofert__item--cardio {
  background-image: url("../img/strefy/cardio.png");
  background-position: center;
  background-repeat: no-repeat;
}
.ofert__item--grupowe {
  background-image: url("../img/strefy/strefa-grupowa.png");
  background-position: center;
  background-repeat: no-repeat;
}
.ofert__item--funkcjonalny {
  background-image: url("../img/strefy/trening-funkcjonalny.png");
  background-position: center;
  background-repeat: no-repeat;
}
.ofert__item--ciezary {
  background-image: url("../img/strefy/wolne-ciezary.png");
  background-position: center;
  background-repeat: no-repeat;
}
.ofert__item--maszyny {
  background-image: url("../img/strefy/strefa-maszyn.png");
  background-position: center;
  background-repeat: no-repeat;
}
.ofert__item--spa {
  background-image: url("../img/strefy/strefa-sauna2.png");
  background-position: center;
  background-repeat: no-repeat;
}

.cards {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.cards__image {
  transition: 0.3s;
}
.cards__image:hover {
  transform: scale(1.1);
}
.cards__item {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .cards__item {
    flex-basis: auto;
  }
}
.cards__heading {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bungee", cursive;
}
@media (min-width: 1024px) {
  .cards__heading {
    font-size: 2.4rem;
  }
}

.opinion {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
.opinion__main {
  padding: 20px;
  flex-basis: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  border: 2px solid orange;
  border-radius: 5px;
}
@media (min-width: 1024px) {
  .opinion__main {
    flex-basis: 80%;
  }
}
@media (min-width: 1440px) {
  .opinion__main {
    flex-basis: 45%;
  }
}
.opinion__image {
  width: 70px;
  border-radius: 50px;
}
.opinion__text {
  font-size: 1rem;
}
@media (min-width: 1920px) {
  .opinion__text {
    font-size: 1.3rem;
  }
}

.newsletter {
  flex-basis: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.newsletter__heading {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bungee", cursive;
}
@media (min-width: 1024px) {
  .newsletter__heading {
    font-size: 2.4rem;
  }
}
.newsletter__inputs {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.newsletter__input {
  font-size: 1.3rem;
  flex-basis: 20%;
  height: 40px;
}
.newsletter__button {
  font-size: 1.3rem;
  background-color: orange;
  border: 0;
  box-shadow: 0 0 3px 0 #000;
  transition: 0.3s;
  height: 40px;
}
.newsletter__button:hover {
  cursor: pointer;
  filter: brightness(70%);
}
.newsletter__newsletter__response-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.newsletter__response {
  font-size: 1.2rem;
}
.newsletter__response--good {
  color: rgb(22, 147, 22);
}
.newsletter__response--wrong {
  color: orangered;
}

.footer {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 100px;
  font-size: 3rem;
}
.footer__icon {
  margin: 5px;
}
.footer__icon:hover {
  cursor: pointer;
}

.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 80px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.header__logo {
  flex-basis: 110px;
}
.header__image {
  width: 100%;
  height: 80px;
}
.header__image:hover {
  cursor: pointer;
}
.header__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.2rem;
  margin-right: 20px;
  gap: 20px;
}
@media (min-width: 1024px) {
  .header__info {
    gap: 35px;
  }
}
.header__item--orange {
  background-color: orange;
  height: 60%;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 3px 0 #000;
}
.header__item--orange:hover {
  cursor: pointer;
  box-shadow: 0 0 6px 0 #000;
}
.header__item--theme-change {
  display: none;
}
@media (min-width: 768px) {
  .header__item--theme-change {
    display: block;
  }
}
.header__pass {
  display: none;
  font-size: 1.5rem;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .header__pass {
    display: block;
  }
}
.header__icon {
  transition: 0.3s;
}
.header__icon:hover:hover {
  color: orange;
  cursor: pointer;
}
.header__icon--login:hover {
  animation: go-up 1s;
  animation-iteration-count: 1;
}
.header__icon--login:hover:hover {
  color: orange;
  cursor: pointer;
}
.header__is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  background-color: orange;
  animation: slideDown 0.6s ease-out;
}
.header__cart-bg {
  background-color: rgb(184, 54, 54);
}

.ellipse {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .ellipse {
    width: 300px;
    height: 300px;
  }
}
.ellipse--top {
  top: 0;
  left: 0;
  transform: translateX(-450px) translateY(-450px);
  background-color: #AC8D20;
  width: 480px;
  height: 480px;
}
.ellipse--bottom {
  bottom: 0;
  right: 0;
  transform: translateX(450px) translateY(450px);
  background-color: #FE9000;
  width: 480px;
  height: 480px;
}
.ellipse__end-top {
  z-index: 1000;
  animation: ellipse-transition-top 1s;
}
.ellipse__end-bottom {
  z-index: 1000;
  animation: ellipse-transition-bottom 1s;
}/*# sourceMappingURL=main.css.map */