@keyframes go-up{
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes beatHeart 
{
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}

@keyframes ellipse-transition-top{
    0%{
        transform: translateX(-112px) translateY(-112px);
        width: 480px;
        height: 480px;
    }
    
    100%{
        transform: translateX(5%) translateY(5%);
        width: 1800px;
        height: 1800px;
    }
}

@keyframes ellipse-transition-bottom{
    0%{
        transform: translateX(-112px) translateY(-112px);
        width: 480px;
        height: 480px;
    }

    100%{
        transform: translateX(-5%) translateY(-5%);
        width: 1800px;
        height: 1800px;
    }
}

.elipse-end-top{
    z-index: 1000;
    animation: ellipse-transition-top 1s;
}
.elipse-end-bottom{
    z-index: 1000;
    animation: ellipse-transition-bottom 1s;
}