body{
    flex-basis: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: $regular-font;
    overflow-x: hidden;
    background-color: white;
}
.none{
    display: none;
}
.opacity{
    opacity: 0;
}

.darken{
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

.light{
    opacity: 1;
}
.link{
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}