.ellipse{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    border-radius: 50%;
    box-shadow: 0px 5px 8px rgba(0, 0, 0,);
    @media (max-width:1024px) {
        width: 300px;
        height: 300px;
    }
    &--top{
        top: 0;
        left: 0;
        transform: translateX(-450px) translateY(-450px);
        background-color: $ellipse-top-color;
        width: 480px;
        height: 480px;

    }
    &--bottom{
        bottom: 0;
        right: 0;
        transform: translateX(450px) translateY(450px);
        background-color: $ellipse-bottom-color;
        width: 480px;
        height: 480px;
    }
        
    &__end-top{
        z-index: 1000;
        animation: ellipse-transition-top 1s;
    }
    &__end-bottom{
        z-index: 1000;
        animation: ellipse-transition-bottom 1s;
    }

    &--sidebar-top{
        z-index: -1;
        box-shadow: none;
        top: 0;
        right: 0;
        transform: translateX(40px) translateY(-50px);
        background-color: $ellipse-top-color;
        width: 250px;
        height: 250px;
    }
    
    &--sidebar-bottom{
        z-index: -1;
        box-shadow: none;
        bottom: 0;
        left: 0;
        transform: translateX(-40px) translateY(50px);
        background-color: $ellipse-bottom-color;
        width: 320px;
        height: 320px;
    }
}

