.ellipse{
    z-index: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    border-radius: 50%;
    &--top{
        top: 0;
        left: 0;
        transform: translateX(-112px) translateY(-112px);
        background-color: #AC8D20;
        width: 400px;
        height: 400px;
        animation: ellipse-transition-top 1s;
        &:hover{
            @include ellipse-zoom;
        }
    }
    &--bottom{
        bottom: 0;
        right: 0;
        transform: translateX(112px) translateY(112px);
        background-color:#FE9000;
        width: 480px;
        height: 480px;
        &:hover{
            @include ellipse-zoom;
        }
    }
}