.footer{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    height: 100px;
    font-size: 3rem;
    &__icon{
        margin: 5px;
        &:hover{
            cursor: pointer;
        }
    }
}