.header{
    position: sticky;
    z-index: 999;
    top: 0;
    width: 100vw;
    height: 80px;
    max-width:100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    &__logo{
        flex-basis: 110px;
    }
    &__image{
        width: 100%;
        height: 80px;
        &:hover{
            cursor: pointer;
        }
    }

    &__info{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 2.2rem;
        margin-right: 20px;
        gap: 20px;
        @media (min-width:1024px) {
            gap: 35px;
        }
    }
    &__item{
        &--orange{
            background-color: $main-color;
            height: 60%;
            display: flex;
            align-items: center;
            padding: 10px;
            box-shadow: 0 0 3px 0 #000;
            &:hover{
                cursor: pointer;
                box-shadow: 0 0 6px 0 #000;
            }
        }
        &--theme-change{
            display: none;
            @include none;
        }
    }
    &__pass{
        display: none;
        font-size: 1.5rem;
        margin-left: 10px;
        @include none;
    }
    &__icon{
        transition: .3s;
        &:hover{
            @include hover-orange;
        }
        &--login:hover{
            animation: go-up 1s ;
            animation-iteration-count: 1;
            @include hover-orange;
        }
        &--header-scroll{
            &:hover{
                cursor: pointer;
                color: black !important;
            }
        }
    }
    &__is-sticky{
        position: fixed;
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
        background-color: $main-color;
        animation: slideDown .6s ease-out;
    }
    &__cart-bg{
        background-color: rgb(184, 54, 54);
    }
}