@mixin none{
    @media (min-width:768px) {
        display: block;
    }
}

@mixin hover-orange{
    &:hover{
            color: $main-color;
            cursor: pointer;
    }

}

@mixin media-font-size{
    @media (min-width:1024px) {
        font-size: 2.4rem;
    }
}

@mixin ofert-image{
    background-position: center;
    background-repeat: no-repeat;
}

@mixin ellipse-zoom{
    @media (min-width:768px) {
        width: 800px;
        height: 800px;
        z-index: 100; 
        }
}

@mixin footer{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 3rem;
    &__icon{
        margin: 5px;
        &:hover{
            cursor: pointer;
        }
    }
}