.newsletter{
    flex-basis: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__heading{
        flex-basis: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-family: $heading-font;
        @include media-font-size;
    }
    &__inputs{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:20px
    }
    &__input{
        font-size: 1.3rem;
        flex-basis: 20%;
        height: 40px;
    }
    &__button{
        font-size: 1.3rem;
        background-color: orange;
        border: 0;
        box-shadow: 0 0 3px 0 #000;
        transition: 0.3s;
        height: 40px;
        &:hover{
            cursor: pointer;
            filter: brightness(70%);
        }
    }
    &__newsletter__response-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__response{
        font-size: 1.2rem;
        &--good{
            color: rgb(22, 147, 22);
        }
        &--wrong{
            color: orangered;
        }
    }

}