@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$special-font: 'Poppins', sans-serif;
$regular-font: 'Roboto', sans-serif;
$super-font: 'Bungee Shade', cursive;
$heading-font: 'Bungee', cursive;
$zone-font: 'Rampart One', cursive;
$main-color: orange;
$ellipse-top-color: '#AC8D20';
$ellipse-bottom-color: '#FE9000';